@CHARSET "UTF-8";
/* 大画面PC（1040px以上）対応CSS */

/* タイトル設定 */
.box1{
	padding: 8px 0px;
}

.site h1 a{
	font-family: 'Paytone One',sans-serif;
}

/* メニューバー */
.box2{
	background-color: #7cbac1;
	margin-bottom: 30px;
}

.menu > ul:after{
	content: "";
	display: block;
	clear: both;
}

.menu > ul > li{
	float: left;
}

.menu > ul > li > a{
	display: block;
	padding: 15px;
}

.menu > ul > li > a:hover{
	background-color: #75dbe7;
}

/* メイン */
.boxA{
	margin-bottom: 30px;
}

.boxA:after{
	content: "";
	clear: both;
	display:block;
}

/* 記事 */
.box3{
	float: left;
	width: 70%;
	padding-right: 30px;
}

/* 記事メタ情報 */
.kijiInfo{
	margin-bottom: 5px;
}

.articleTag > ul > li > a{
	color: white;
	font-size: 12px;
}

.fa-calendar-week{
	margin-right: 5px;
}

/* 記事構成 */
.kiji > h1{
	margin-bottom: 10px;
}

.kiji > h2{
	padding-left: 10px;
	border-left: solid 10px #7cbac1;
}

.kiji > p{
	margin-bottom: 10px;
}

.kiji > p > img{
	width: 100%;
	height: auto;
}

.articleTag{
	margin-bottom: 10px;
}
.articleTag > ul:after{
	content: "";
	display: block;
	clear: both;
}
.articleTag > ul > li{
	float: left;
}
.articleTag > ul > li > a{
	padding: 2px 5px;
	background-color: #75dbe7;
	margin-right: 5px;
}
/* サイドメニュー */
.box4{
	float: left;
	width: 30%;
}

.sidemenu{
	margin-bottom: 10px;
}

.sidemenu > h1{
	border-bottom: solid 1px #dddddd;
}

.sidemenu > ul > li > a{
	display: block;
	padding: 5px;
	position: relative;
}

.sidemenu > ul > li > a:hover{
	background-color: #eeeeee;
}

.sidemenu > ul > li > a > i{
	margin-right: 5px;
}

.sidemenu > ul > li > a > img{
	width: 100%;
}

.sidemenu > ul > li > a > div{
	width: 100%;
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.sidemenu1{
	margin-bottom: 10px;
}

.sidemenu1 > h1{
	border-bottom: solid 1px #dddddd;
}

.sidemenu1 > ul > li {
	display: block;
	position: relative;
}

.sidemenu1 > ul > li > div{
	width:100%;
	display: block;
	position: relative;
}

.sidemenu1 > ul > li > a:hover{
	background-color: #eeeeee;
}

.sidemenu1 > ul > li > a > i{
	margin-right: 5px;
}

.sidemenu1 > ul > li > div > img{
	width: 100%;
	vertical-align: bottom;
}

.sidemenu1 > ul > li > div > div{
	width: 100%;
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.sidemenu2{
	margin-bottom: 10px;
}

.sidemenu2 > h1{
	border-bottom: solid 1px #dddddd;
}

.sidemenu2 > ul > li > a{
	display: block;
	padding: 5px;
}

.sidemenu2 > ul > li > a:after{
	display: block;
	content: "";
	clear: both;
}

.sidemenu2 > ul > li > a:hover{
	background-color: #eeeeee;
}

.sidemenu2 > ul > li > a > img{
	width: 60px;
	float:left
}

.sidemenu2 > ul > li > a > div{
	float:left;
	padding-left: 10px;
}


/* コピーライト */
.box5{
	border-top: 1px solid #dddddd;
	padding-top: 10px;
	padding-bottom: 10px;
}
.copyright > p{
	color: #666666;
	font-size: 10px;
}